## Python Practice 2

## Numbers

### Question 1
Insert the correct syntax to convert x into a floating point number.

In [14]:
x = 5

In [15]:
x

5

In [16]:
type(x)

int

In [17]:
# Write your code here
x = float(x)
x

5.0

In [18]:
type(x)

float

## Lists

### Question 2
Print the second item in the fruits list.

In [74]:
fruits = ["apple", "banana", "cherry"]

In [75]:
fruits

['apple', 'banana', 'cherry']

In [76]:
type(fruits)

list

In [77]:
# Write your code here
print(fruits[1])

banana

### Question 3
Change the value from "apple" to "kiwi", in the fruits list.

In [23]:
fruits = ["apple", "banana", "cherry"]

In [24]:
fruits

['apple', 'banana', 'cherry']

In [54]:
# Write your code here
fruits[0] = "kiwi"
fruits

['kiwi', 'banana', 'cherry']

### Question 4
Use the append method to add "orange" to the fruits list.

In [26]:
fruits = ["apple", "banana", "cherry"]

In [27]:
fruits

['apple', 'banana', 'cherry']

In [55]:
# Write your code here
fruits.append("orange")
fruits

['kiwi', 'banana', 'cherry', 'orange']

### Question 5
Add "orange" to the fruits set.

In [57]:
fruits = {"apple", "banana", "cherry"}

In [60]:
# Write your code here
fruits.add("orange")
fruits

{'apple', 'banana', 'cherry', 'orange'}

### Question 6
Use the correct method to add multiple items (more_fruits) to the fruits set.

In [67]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes", "apple", "apple"]

In [69]:
# Write your code here
fruits.update(more_fruits)
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

### Question 7
Use the get method to print the value of the "model" key of the car dictionary.

In [33]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [34]:
type(car)

dict

In [70]:
# Write your code here
car["model"]

'Mustang'

### Question 8
Remove "model" from the car dictionary.

In [36]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [71]:
# Write your code here
car.pop("model")
car

{'brand': 'Ford', 'year': 1964}

### Question 9
Print "Hello World" if a is greater than b.

In [38]:
a = 50
b = 10

In [72]:
# Write your code here
if a>b:
    print("Hello World")

Hello World

### Question 10
Print "Yes" if a is equal to b, otherwise print "No".

In [81]:
a = 50
b = 10

In [87]:
# Write your code here
if a==b:
    print("Yes")
else:
    print("No")

No

### Question 11
Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [128]:
a = 20
b = 10

In [133]:
# Write your code here
if a==b:
    print(1)
elif a>b:
    print(2)
else:
    print(3)

2

### Question 12
Print "Hello" if a is equal to b, or if c is equal to d.

In [138]:
a = 50
b = 10
c = 20
d = 20

In [139]:
# Write your code here
if a==b or c==d:
    print("Hello")

Hello

### Question 13
Loop through the items in the fruits list.

In [1]:
fruits = ["apple", "banana", "cherry"]

In [28]:
# Write your code here
vaar1 = []
for i in fruits:
    vaar1.append(i)
vaar1

['apple', 'banana', 'cherry']

### Question 14
Use the range function to loop through a code set 6 times.

In [7]:
# Write your code here
r = range(2,20,2)
for a in r:
    print(a)

2
4
6
8
10
12
14
16
18

### Question 15
Exit the loop when x is "banana".

In [2]:
fruits = ["apple", "banana", "cherry"]

In [6]:
# Write your code here
for f in fruits:
    print(f)
    if f == "banana":
        break

apple
banana

### Question 16
Create a function that takes 2 string as input 'firstname' & 'lastname' and returns a single concatenated string back, add spaces between names

In [51]:
# Write your code here

In [10]:
string1 = "John"
string2= "Christopher"

In [11]:
a = string1+" "+string2
a

'John Christopher'